//@import '../../../styles.scss';
/* ====================================================================
   Style NavBar
======================================================================= */

.nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: #025FEB;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-bar-icon img{
    width: 110px;
}

.nav-bar-menu{
    display: flex;
}

.nav-bar-item-menu{
    margin-left: 40px;
    height: 25px;
    display: flex;
    align-items: center;
}

.nav-bar-item-menu img {
    width: 25px;
    margin-right: 4px;
}