<nav class="nav">

    <div class="nav-bar-icon">
      <a [routerLink]="['/']"> <img src="assets/images/logo.svg" alt="Image Logo"> </a>
    </div>
   
    <div class="nav-bar-menu">
      
      <a [routerLink]="['/schedule']">
        <div class="nav-bar-item-menu">
          <img src="assets/images/schedule.png" alt="Image Schedule">
          <span>Shedule</span>
        </div>
      </a>

      <a [routerLink]="['/leaderboard']">
        <div class="nav-bar-item-menu">
          <img src="assets/images/leaderboard.png" alt="Image Leader Board">
          <span>Leadboard</span>
        </div>
      </a>

    </div>

</nav>
  


